Repository sethusaim/ansible-aws-demo: changes, and which Jenkins stages are due for each by the changed paths.
All: Run Ansible Playbooks, Plan and Apply new infrastrucuture

Jenkinsfile:

pipeline {
  agent any

  stages {
    stage('Run Ansible Playbooks') {
      when {
        changeset 'playbooks/*'
      }

      steps {
        script {
          sh 'sudo ansible-playbook playbooks/main.yml'
        }
      }
    }
    stage('Plan and Apply new infrastrucuture') {
      when {
        changeset 'infrastructure/*'
      }
      steps {
        script {
          sh 'terraform -chdir=infrastructure init'

          sh 'terraform -chdir=infrastructure apply --auto-approve'
        }
      }
    }
  }

added mlflow playbook
  playbooks/mlflow.yml
Due: Run Ansible Playbooks

removed important files
  scripts/mlflow
  scripts/mlflow-tracking.service
Due: none

updated .gitignore
  .gitignore
Due: none

added variables.yml
  vars/variables.yml
Due: none

modified mlflow.yml based on variables.yml
  playbooks/mlflow.yml
Due: Run Ansible Playbooks

added application instance
  infrastructure/application_instance/app.tf
  infrastructure/application_instance/variables.tf
Due: none

added application instance to module.tf
  infrastructure/module.tf
Due: Plan and Apply new infrastrucuture

minor fix in jenkins.yml
  playbooks/jenkins.yml
Due: Run Ansible Playbooks

added eks cluster to infrastructure
  infrastructure/eks_cluster/eks_cluster.tf
  infrastructure/eks_cluster/providers.tf
  infrastructure/eks_cluster/variables.tf
Due: none

added eks_cluster module to module.tf
  infrastructure/module.tf
Due: Plan and Apply new infrastrucuture

used proper variable names
  playbooks/jenkins.yml
  playbooks/mlflow.yml
Due: Run Ansible Playbooks

added application.yml
  playbooks/application.yml
Due: Run Ansible Playbooks

added variables for application,tekton and argocd
  vars/variables.yml
Due: none

added application.yml to main.yml
  playbooks/main.yml
Due: Run Ansible Playbooks

changed node type and node size
  infrastructure/eks_cluster/variables.tf
Due: none

restructured variables
  vars/variables.yml
Due: none

added tekton.yml
  argocd.txt
  playbooks/tekton.yml
Due: Run Ansible Playbooks

added tekton.yml to main.yml
  playbooks/main.yml
Due: Run Ansible Playbooks

formatted playbooks
  playbooks/jenkins.yml
  playbooks/tekton.yml
Due: Run Ansible Playbooks

removed argocd.txt
  argocd.txt
Due: none

modified application playbook
  playbooks/application.yml
Due: Run Ansible Playbooks

modified tekton playbook
  playbooks/tekton.yml
Due: Run Ansible Playbooks

improvised tekton playbook
  playbooks/tekton.yml
Due: Run Ansible Playbooks

restructured jenkins playbook
  playbooks/jenkins.yml
Due: Run Ansible Playbooks

removed repeated steps in application playbook
  playbooks/application.yml
Due: Run Ansible Playbooks

minor fix
  argocd.txt
  argocd.yml
  infrastructure/module.tf
  playbooks/tekton.yml
  vars/variables.yml
Due: Run Ansible Playbooks, Plan and Apply new infrastrucuture

removed unwanted files
  argocd.txt
  argocd.yml
Due: none

uncommented modules
  infrastructure/module.tf
Due: Plan and Apply new infrastrucuture

changed sleep time
  playbooks/tekton.yml
Due: Run Ansible Playbooks

restructured playbooks
  playbooks/application.yml
  playbooks/jenkins.yml
  playbooks/main.yml
  playbooks/tektoncli.yml
Due: Run Ansible Playbooks

minor fix
  playbooks/main.yml
Due: Run Ansible Playbooks

added commands for vars folder
  scripts/run_ansible.sh
Due: none

replaced data with generic passwords
  vars/variables.yml
Due: none

minor change
  playbooks/tektoncli.yml
Due: Run Ansible Playbooks

changed hosts from Jenkins to Application
  playbooks/tektoncli.yml
Due: Run Ansible Playbooks

changed ssh key name
  Jenkinsfile
Due: none

removed unnessacary tasks in jenkins playbook
  playbooks/jenkins.yml
Due: Run Ansible Playbooks

removed unnessacary steps in tektoncli playbook
  playbooks/tektoncli.yml
Due: Run Ansible Playbooks

added argocd username
  vars/variables.yml
Due: none

removed unwanted steps in mlflow playbook
  playbooks/mlflow.yml
Due: Run Ansible Playbooks
