Repository sethusaim/ansible-aws-demo: changes, and which Jenkins stages are due for each by the changed paths.
All: Run Ansible Playbooks, Plan and Apply new infrastrucuture

Jenkinsfile:

pipeline {
  agent any

  stages {
    stage('Run Ansible Playbooks') {
      when {
        changeset 'playbooks/*'
      }

      steps {
        script {
          sh 'sudo ansible-playbook playbooks/main.yml'
        }
      }
    }
    stage('Plan and Apply new infrastrucuture') {
      when {
        changeset 'infrastructure/*'
      }
      steps {
        script {
          sh 'terraform -chdir=infrastructure init'

          sh 'terraform -chdir=infrastructure apply --auto-approve'
        }
      }
    }
  }

configured ansible ec2
  infrastructure/ansible_ec2/ansible.tf
  infrastructure/ansible_ec2/variables.tf
Due: none

added bash script for running playbooks in Jenkins
  run_ansible.sh
Due: none

modified Jenkinsfile based on bash script
  Jenkinsfile
Due: none

added ansbile instance
  infrastructure/ansible_instance/ansible.tf
  infrastructure/ansible_instance/variables.tf
Due: none

modified ansible instance
  infrastructure/ansible_instance/ansible.tf
  infrastructure/ansible_instance/variables.tf
Due: none

added jenkins instance
  infrastructure/jenkins_ec2/jenkins.tf
  infrastructure/jenkins_ec2/variables.tf
Due: none

clean up
  infrastructure/ansible_ec2/ansible.tf
  infrastructure/ansible_ec2/variables.tf
  infrastructure/target_ec2/target.tf
  infrastructure/target_ec2/variables.tf
Due: none

modified module.tf
  infrastructure/module.tf
Due: Plan and Apply new infrastrucuture

restructured jenkins module
  infrastructure/jenkins_instance/jenkins.tf
  infrastructure/jenkins_instance/variables.tf
Due: none

removed apached playbook and added jenkins playbook
  playbooks/main.yml
Due: Run Ansible Playbooks

added jenkins playbook
  playbooks/jenkins.yml
Due: Run Ansible Playbooks

removed apache.yml
  playbooks/apache.yml
Due: Run Ansible Playbooks

created scripts folder
  scripts/install_ansible.sh
  scripts/run_ansible.sh
Due: none

removed run_ansible.sh
  run_ansible.sh
Due: none

minor readme fix
  README.md
Due: none

added apache.yml example
  playbooks/apache.yml
Due: Run Ansible Playbooks

added jenkins.yml
  playbooks/jenkins.yml
Due: Run Ansible Playbooks

updated .gitignore
  .gitignore
Due: none

added docker.yml
  playbooks/docker.yml
Due: Run Ansible Playbooks

added docker.yml to main.yml
  playbooks/main.yml
Due: Run Ansible Playbooks

formatted playbooks
  playbooks/apache.yml
  playbooks/docker.yml
  playbooks/jenkins.yml
  playbooks/main.yml
Due: Run Ansible Playbooks

added scripts for creating and destroying infrastructure
  scripts/apply_infrastrcuture.sh
  scripts/destroy_infrastructure.sh
Due: none

added terraform.yml
  playbooks/terraform.yml
Due: Run Ansible Playbooks

typo fix
  scripts/apply_infrastructure.sh
Due: none

added terraform.yml to main.yml
  playbooks/main.yml
Due: Run Ansible Playbooks

formatted jenkins module
  infrastructure/jenkins_instance/jenkins.tf
  infrastructure/jenkins_instance/variables.tf
Due: none

added mlflow module
  infrastructure/module.tf
Due: Plan and Apply new infrastrucuture

added mlflow module
  infrastructure/mlflow_instance/mlflow_instance.tf
  infrastructure/mlflow_instance/variables.tf
Due: none

restructured playbooks
  mlflow.yml
  playbooks/jenkins/docker.yml
  playbooks/jenkins/jenkins.yml
  playbooks/jenkins/main.yml
  playbooks/jenkins/terraform.yml
  playbooks/main.yml
  playbooks/mlflow/conda.yml
  playbooks/mlflow/main.yml
Due: Run Ansible Playbooks

delete mlflow.yml
  mlflow.yml
Due: none

minor code formatting
  playbooks/apache.yml
  playbooks/jenkins/jenkins.yml
  playbooks/jenkins/terraform.yml
Due: Run Ansible Playbooks

minor change
  playbooks/mlflow/main.yml
Due: none

added scripts for nginx mlflow and mlflow service
  scripts/mlflow
  scripts/mlflow-tracking.service
Due: none

added details to scripts
  scripts/mlflow
  scripts/mlflow-tracking.service
Due: none

added activate_conda.sh script
  scripts/activate_conda.sh
Due: none

restructured playbooks
  playbooks/jenkins.yml
  playbooks/jenkins/docker.yml
  playbooks/jenkins/jenkins.yml
  playbooks/jenkins/main.yml
  playbooks/jenkins/terraform.yml
  playbooks/main.yml
  playbooks/mlflow/conda.yml
  playbooks/mlflow/main.yml
Due: Run Ansible Playbooks

renamed scripts
  scripts/activate_conda.sh
  scripts/conda_init.sh
Due: none

minor fix
  scripts/conda_init.sh
Due: none

minor change
  scripts/conda_init.sh
  scripts/conda_init.txt
Due: none

changed mlflow nginx configuration file
  scripts/mlflow
Due: none
