Repository sethusaim/ansible-aws-demo: changes, and which Jenkins stages are due for each by the changed paths.
All: Run Ansible Playbooks, Plan and Apply new infrastrucuture

Run Ansible Playbooks:
        steps {
          script {
            sh 'sudo ansible-playbook playbooks/main.yml'
          }
        }
      

Plan and Apply new infrastrucuture:
        steps {
          script {
            sh 'terraform -chdir=infrastructure init'
            sh 'terraform -chdir=infrastructure apply --auto-approve'
          }
        }
      

test
  playbooks/prometheus_ec2.yml
Due: Run Ansible Playbooks

test completed
  playbooks/prometheus_ec2.yml
Due: Run Ansible Playbooks

removed prometheus_final.yml
  others/prometheus_final.yml
Due: none

removed prometheus.service file
  others/prometheus.service
Due: none

improvised prometheus ec2 playbook
  playbooks/prometheus_ec2.yml
Due: Run Ansible Playbooks

updated readme
  README.md
Due: none

added node exporter role
  playbooks/apache.yml
Due: Run Ansible Playbooks

removed node_exporter.yml
  playbooks/node_exporter.yml
Due: Run Ansible Playbooks

added node exporter role to application playbook
  playbooks/application.yml
Due: Run Ansible Playbooks

added node exporter role to jenkins playbook
  playbooks/jenkins.yml
Due: Run Ansible Playbooks

added node exporter role for mlflow playbook
  playbooks/mlflow.yml
Due: Run Ansible Playbooks

removed node_exporter.service
  others/node-exporter.service
Due: none

removed install_node_exporter.sh
  scripts/install_node_exporter.sh
Due: none

removed install_prometheus.sh
  scripts/install_prometheus.sh
Due: none

minor change
  playbooks/main.yml
Due: Run Ansible Playbooks

added node exporter ports to ansible instance
  infrastructure/ec2_instances/ansible_instance/ansible_sg.tf
  infrastructure/ec2_instances/ansible_instance/variables.tf
Due: none

added node exporter ports to application instance
  infrastructure/ec2_instances/application_instance/app_sg.tf
  infrastructure/ec2_instances/application_instance/variables.tf
Due: none

added node exporter ports to jenkins instance
  infrastructure/ec2_instances/jenkins_instance/jenkins_sg.tf
  infrastructure/ec2_instances/jenkins_instance/variables.tf
Due: none

added node exporter ports for mlflow instance
  infrastructure/ec2_instances/mlflow_instance/mlflow_sg.tf
  infrastructure/ec2_instances/mlflow_instance/variables.tf
Due: none

formatted mlflow variables.tf
  infrastructure/ec2_instances/mlflow_instance/variables.tf
Due: none

removed unwanted steps in application playbook
  playbooks/application.yml
Due: Run Ansible Playbooks

added ansible hosts
  others/ansible_hosts.txt
Due: none

added kubectl delete cron job script
  scripts/kubectl_delete_cron_job.sh
Due: none

minor fix in monitoring playbook
  playbooks/monitoring.yml
Due: Run Ansible Playbooks

added manifest files for namespaces
  manifests/argocd-namespace.yaml
  manifests/monitor-namespace.yaml
Due: none

formattted manifests folder
  manifests/argocd-namespace.yaml
  manifests/monitor-namespace.yaml
Due: none

formatted playbooks
  playbooks/apache.yml
  playbooks/application.yml
  playbooks/argocd.yml
  playbooks/docker.yml
  playbooks/jenkins.yml
  playbooks/main.yml
  playbooks/mlflow.yml
  playbooks/monitoring.yml
  playbooks/prometheus_ec2.yml
  playbooks/tekton.yml
  playbooks/tektoncli.yml
  playbooks/terraform.yml
Due: Run Ansible Playbooks

formatted Jenkinsfile
  Jenkinsfile
Due: none

added mysql rds instance module
  infrastructure/database/db_instance.tf
  infrastructure/database/db_sg.tf
  infrastructure/database/providers.tf
  infrastructure/database/variables.tf
Due: none

added rds mysql module to module.tf
  infrastructure/module.tf
Due: Plan and Apply new infrastrucuture

minor changes
  infrastructure/database/variables.tf
Due: none

minor fix
  infrastructure/ec2_instances/ansible_instance/variables.tf
Due: none

minor fix
  infrastructure/database/db_instance.tf
Due: none

test commit
  infrastructure/database/providers.tf
Due: none

removed unwanted lines
  infrastructure/database/providers.tf
Due: none

formatted database module
  infrastructure/database/db_sg.tf
  infrastructure/database/variables.tf
Due: none

removed database module content
  infrastructure/database/db_instance.tf
  infrastructure/database/db_sg.tf
  infrastructure/database/variables.tf
Due: none

removed database module
  infrastructure/database/db_instance.tf
  infrastructure/database/db_sg.tf
  infrastructure/database/providers.tf
  infrastructure/database/variables.tf
Due: none

Path conditions:
  Run Ansible Playbooks: any of: playbooks/*
  Plan and Apply new infrastrucuture: any of: infrastructure/*
