Repository sethusaim/ansible-aws-demo: changes, and which Jenkins stages are due for each by the changed paths.
All: Run Ansible Playbooks, Plan and Apply new infrastrucuture

Run Ansible Playbooks:
        steps {
          script {
            sh 'sudo ansible-playbook playbooks/main.yml'
          }
        }
      

Plan and Apply new infrastrucuture:
        steps {
          script {
            sh 'terraform -chdir=infrastructure init'
            sh 'terraform -chdir=infrastructure apply --auto-approve'
          }
        }
      

test
  vars/variables.yml
Due: none

restored main.yml
  playbooks/main.yml
Due: Run Ansible Playbooks

test
  playbooks/argocd.yml
Due: Run Ansible Playbooks

improvised tektoncli playbook
  playbooks/tektoncli.yml
Due: Run Ansible Playbooks

updated gitignore
  .gitignore
Due: none

minor fix
  playbooks/argocd.yml
Due: Run Ansible Playbooks

improvised argocd playbook
  playbooks/argocd.yml
Due: Run Ansible Playbooks

restored variables.yml
  vars/variables.yml
Due: none

added output msg for argocd url
  playbooks/argocd.yml
Due: Run Ansible Playbooks

added prometheus server terraform files
  infrastructure/ec2_instances/prometheus_instance/prometheus_eip.tf
  infrastructure/ec2_instances/prometheus_instance/prometheus_instance.tf
  infrastructure/ec2_instances/prometheus_instance/prometheus_sg.tf
  infrastructure/ec2_instances/prometheus_instance/variables.tf
Due: none

added prometheus instance to module.tf
  infrastructure/module.tf
Due: Plan and Apply new infrastrucuture

created folder for extra data
  others/conda_init.txt
Due: none

minor changes to mlflow playbook
  playbooks/mlflow.yml
Due: Run Ansible Playbooks

added scripts for node exporter
  scripts/install_node_exporter.sh
Due: none

added script for installing prometheus
  scripts/install_prometheus.sh
Due: none

minor change in apache playbook
  playbooks/apache.yml
Due: Run Ansible Playbooks

minor changes in playbooks
  playbooks/application.yml
  playbooks/argocd.yml
  playbooks/docker.yml
  playbooks/jenkins.yml
  playbooks/mlflow.yml
  playbooks/monitoring.yml
  playbooks/tekton.yml
  playbooks/tektoncli.yml
Due: Run Ansible Playbooks

added node exporter service file
  others/node-exporter.service
Due: none

added prometheus service file
  others/prometheus.service
Due: none

added prometheus configuration file
  others/prometheus.yml
Due: none

improvised node exporter bash script
  scripts/install_node_exporter.sh
Due: none

improvised prometheus bash script
  scripts/install_prometheus.sh
Due: none

added terraform files for apache instance
  infrastructure/ec2_instances/apache_instance/apache.tf
  infrastructure/ec2_instances/apache_instance/apache_eip.tf
  infrastructure/ec2_instances/apache_instance/apache_sg.tf
  infrastructure/ec2_instances/apache_instance/variables.tf
Due: none

added apache instance to module.tf
  infrastructure/module.tf
Due: Plan and Apply new infrastrucuture

minor fix
  infrastructure/ec2_instances/prometheus_instance/prometheus_sg.tf
Due: none

minor fix in apache_sg.tf
  infrastructure/ec2_instances/apache_instance/apache_sg.tf
Due: none

test commit
  playbooks/node_exporter.yml
  playbooks/setup_prometheus_ec2.yml
Due: Run Ansible Playbooks

renamed playbook
  playbooks/prometheus_ec2.yml
Due: Run Ansible Playbooks

improvised node exporter playbook
  playbooks/node_exporter.yml
Due: Run Ansible Playbooks

minor typo fix
  infrastructure/ec2_instances/apache_instance/variables.tf
Due: none

added tmp data to prometheus.yml
  others/prometheus.yml
Due: none

minor fix
  playbooks/prometheus_ec2.yml
Due: Run Ansible Playbooks

fixed node exporter playbook
  playbooks/node_exporter.yml
Due: Run Ansible Playbooks

fixed prometheus ec2 playbook
  playbooks/prometheus_ec2.yml
Due: Run Ansible Playbooks

minor changes in prometheus ec2 playboook
  playbooks/prometheus_ec2.yml
Due: Run Ansible Playbooks

fixed prometheus version
  playbooks/prometheus_ec2.yml
Due: Run Ansible Playbooks

added final configuration for prometheus
  others/prometheus_final.yml
Due: none

Path conditions:
  Run Ansible Playbooks: any of: playbooks/*
  Plan and Apply new infrastrucuture: any of: infrastructure/*
